* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url(../Images/atletico-hombre-mujer-pesas.jpg);
    background-size: cover;
    background-position: center;
}

.return-home {
    position: absolute;
    top: 0;
    left: 0;
}

input {
    height: 2rem;
    min-width: 14rem;
    margin-left: 0.5rem;
    background: none;
    border: 0;
    border-bottom: 1px solid #ff0404;
    outline: none;
}

input:focus {
    border-bottom: 3px solid #ff0000;
}

label {
    height: 1.56rem;
    padding: 0.5rem 0;
}

h2{
    display: flex;
    justify-content: center;
}

a {
    margin-top: 4px;
    text-decoration: none;
    width: 180px;
    color: #b4b4b4;
    font-size: 0.8rem;
}

a:hover {
    color: #2f2f2f;
}

.main-container {
    display: grid;
    position: relative;
    justify-content: center;
    align-content: center;
    height: 70%;
}

.login-container {
    display: grid;
    height: 350px;
    width: 325px;
    padding: 20px;
    border-radius: 0.75rem;
    border: 2px solid #000000;
    box-shadow: 2px 1px 6px 2px #000000;  
    background-color: #ffffff;
}

.login-content {
    display: grid;
    grid-template-rows: 1fr 2rem 1fr 2rem 1fr 1rem;
}

.button-cotainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.button-cotainer button {
    border-radius: 0.75rem;
    width: 6.25rem;
    height: 1.875rem;
    background: none;
    border: 1px solid #ff4949;
}

.button-cotainer button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
    background-color: #ff4949;
    color: white;
    box-shadow: 2px 1px 6px 2px #ff4949;
}

.user-content, .pass-content {
    display: grid;
    grid-template-columns: 1rem 3rem;
    align-content: center;
}

.container-icon {
    align-self: center;
}

#return-home {
    width: auto;
    background: none;
    border: none;
    border-radius: 50%;
    margin: 0.5rem;
    background-color: white;
}

#return-home i {
    font-size: 3.5vh;
    padding: 0.4rem;
}

#return-home:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.5s;
    background-color: #ff4949;
    color: white;
    box-shadow: 2px 1px 6px 2px #ff4949;
}